node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Vercel + Playwright
.vercel
playwright-report
test-results


# TanStack generated route tree (regenerated on build)
src/routeTree.gen.ts
